body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0;
    height:100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Kumbh Sans', sans-serif;
}
.faq-card{
    display: flex;
    background-color: #fff;
    width: 950px;
    height: 525px;
    border-radius: 30px;
    box-shadow: 0 21px 33px -11px #57319d
}
.imgDiv{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-pattern-desktop.svg);
    width: 500px;
    background-position: 112% 66%;
    background-repeat: no-repeat;
}
.two-imgs{
    position: absolute;
}
.woman-img-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    overflow: hidden;
}
.questions{
    width: 373px;
}
.woman-img{
    position: absolute;
    right: 37px;
    width: 560px;
}
.box-img{
    position: absolute;
    right: 373px;
    bottom: 126px;
    width: 248px;
}
.quest-ans{
    border-bottom: solid 1px hsl(240, 5%, 91%);
    width: 378px;
    padding-bottom: 20px;
}
.questHeading{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    transition: color 0.2s;
}
.questHeading:hover{
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}
.questPara{
    font-size: 14px;
    color: hsl(240, 6%, 50%);
    display: none;
}
#faqH1{
    padding: 50px 0 20px 0;
}
@media (min-width: 600px) and (max-width: 1000px){
    .faq-card{
        transform: scale(0.6);
    }
    .questHeading{
        width: 333px;
    }
    .questPara{
        width: 312px;
    }
}
@media (max-width: 600px){
    body{
        height: 130vh;
    }
    .faq-card{
        flex-direction: column;
        width: 280px;
        gap: 20px;
        height: fit-content;
    }
    .questions{
        width: unset;
        height: fit-content;
        padding: 70px 30px 30px 30px;
    }
    .quest-ans{
        width: 220px;
    }
    .questHeading{
        font-size: 11px;
    }
    .questPara{
        font-size: 10px;
        width: 210px;
        margin-bottom: 0;
    }
    #faqH1{
        padding: 0;
        font-size: 25px;
        text-align: center;
    }
    .imgDiv{
        width: unset;
        background-image: none;
    }
    .woman-img{
        width: 204px;
        right: 0;
    }
    .woman-img-div{
        width: 204px;
        height: 210px;
        right: 0;
        bottom: 16px;
        background-position: 0px 33px;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-size: contain;
    }
    .box-img{
        width: 75px;
        right: 128px;
        bottom: 66px;
    }
}