body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0;
    height:100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: contain;
}
.faq-card{
    display: flex;
    background-color: #fff;
    width: 1000px;
    height:500px;
}
.imgDiv{
    background-image: url(../images/bg-pattern-desktop.svg);
}